<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>

    <link src="http://localhost:8080/styles/css/calculator.css" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
    </style>

    <script>

        $(document).ready(function () {

            var href = $(location).attr('href');
            console.log(href.toString())
            if (href.toString().includes('em-calculator')) {
                $('#education-form').hide()
                $('#employee-form').show()
                $('#di-form').hide()
            } else if (href.toString().includes('ed-calculator')) {
                $('#education-form').show()
                $('#employee-form').hide()
                $('#di-form').hide()
            } else {
                $('#education-form').hide()
                $('#employee-form').hide()
                $('#di-form').show()
            }

            $('#purpose-calc').on('change', function (e) {
                var valueSelected = this.value;

                if (valueSelected == 'EDUCATION') {
                    $('#education-form').show()
                    $('#employee-form').hide()
                    $('#di-form').hide()
                } else if (valueSelected == 'EMPLOYEE') {
                    $('#education-form').hide()
                    $('#employee-form').show()
                    $('#di-form').hide()
                } else {
                    $('#education-form').hide()
                    $('#employee-form').hide()
                    $('#di-form').show()
                }
            });
        })

    </script>

</head>
<header class="main-header" th:include="layouts/base_header.html">

</header>
<body>
<a href="/questionnaire">Пройти анкету</a>
<div class="wrapper">
    <p th:text="${huy}"></p>
    <select id="purpose-calc">
        <option th:each="purp : ${purpose}" th:value="${purp.name()}" th:text="${purp.getTitle()}"></option>
    </select>

    <div id="education-form">
        <form id="ed-calculator" th:object="${educationRequest}" th:action="@{/ed-calculator}" method="get">
            <select th:field="*{educationLevel}" id="educationLevel">
                <option th:each="level : ${levelEducation}" th:value="${level}" th:text="${level.getDescription()}"></option>
            </select>

            <select th:field="*{priority}">
                <option th:each="prior : ${edPriority}" th:value="${prior}" th:text="${prior.getTitle()}"></option>
            </select>

            <select th:field="*{maxResult}">
                <option th:each="item : ${listMaxResults}" th:value="${item.getValue()}" th:text="${item.getDescription()}"></option>
            </select>

            <input form="ed-calculator" type="submit" value="Поиск"/>
        </form>
    </div>

    <div id="employee-form">
        <form id="em-calculator" th:object="${employeeRequest}" th:action="@{/em-calculator}" method="get">
            <select th:field="*{dataType}">
                <option th:each="emplType : ${employmentDataTypes}" th:value="${emplType}" th:text="${emplType.getTitle()}"></option>
            </select>

            <select th:field="*{maxResult}">
                <option th:each="item : ${listMaxResults}" th:value="${item.getValue()}" th:text="${item.getDescription()}"></option>
            </select>

            <input form="em-calculator" type="submit" value="Поиск"/>
        </form>
    </div>

    <div id="di-form">
        <form id="di-calculator" th:object="${migrationInfoRequest}" th:action="@{/di-calculator}" method="get">

            <select th:field="*{maxResult}">
                <option th:each="item : ${listMaxResults}" th:value="${item.getValue()}" th:text="${item.getDescription()}"></option>
            </select>

            <input form="di-calculator" type="submit" value="Поиск"/>
        </form>
    </div>

</div>

<div th:if="${typeTable == 'AMOUNT_CONTRACT'}">
    <!--используйте col-->
    <table>
        <tr>
            <td>Рейтинг</td>
            <td>Регион</td>
            <td>Минимальная</td>
            <td>Количество бюджет</td>
            <td>Количество контр. мест</td>
            <td>Общий уровень развития</td>
            <td>Общий уровень жизни</td>
            <td>Среднедуш</td>
            <td>Потреб расходы</td>
            <td>Индексы потреб</td>
            <td>Числен насел</td>
        </tr>
        <tr th:each="item: ${listDataResult}">
            <td th:text="${item.getRate()}">Рейтинг</td>
            <td th:text="${item.getRegion()}">Регион</td>
            <td th:text="${item.getMinPriceContract()}">Минимальная</td>
            <td th:text="${item.getBudgetCount()}">Количество бюджет</td>
            <td th:text="${item.getContractCount()}">Количество контр. мест</td>
            <td th:text="${item.getLevelEducation()}">Общий уровень развития</td>
            <td th:text="${item.getLevelLive()}">Общий уровень жизни</td>
            <td th:text="${item.getMonthSalary()}">Среднедуш</td>
            <td th:text="${item.getMonthExpense()}">Потреб расходы</td>
            <td th:text="${item.getIndexPrice()}">Индексы потреб</td>
            <td th:text="${item.getCountPeopleMinSalary()}">Числен насел</td>
        </tr>
    </table>
</div>
<div th:if="${typeTable == 'COUNT_BUDGET'}">
    <table>
        <tr>
            <td>Рейтинг</td>
            <td>Регион</td>
            <td>Минимальная</td>
            <td>Количество бюджет</td>
            <td>Общий уровень развития</td>
            <td>Общий уровень жизни</td>
            <td>Среднедуш</td>
            <td>Потреб расходы</td>
            <td>Индексы потреб</td>
            <td>Числен насел</td>
        </tr>
        <tr th:each="item: ${listDataResult}">
            <td th:text="${item.getRate()}">Рейтинг</td>
            <td th:text="${item.getRegion()}">Регион</td>
            <td th:text="${item.getBudgetCount()}">Минимальная</td>
            <td th:text="${item.getContractCount()}">Количество бюджет</td>
            <td th:text="${item.getLevelEducation()}">Общий уровень развития</td>
            <td th:text="${item.getLevelLive()}">Общий уровень жизни</td>
            <td th:text="${item.getMonthSalary()}">Среднедуш</td>
            <td th:text="${item.getMonthExpense()}">Потреб расходы</td>
            <td th:text="${item.getIndexPrice()}">Индексы потреб</td>
            <td th:text="${item.getCountPeopleMinSalary()}">Числен насел</td>
        </tr>
    </table>
</div>
<div th:if="${typeTable == 'CONTRACT_COUNT'}">
    <table>
        <tr>
            <td>Рейтинг</td>
            <td>Регион</td>
            <td>Минимальная</td>
            <td>Количество бюджет</td>
            <td>Количество контр. мест</td>
            <td>Общий уровень развития</td>
            <td>Общий уровень жизни</td>
            <td>Среднедуш</td>
            <td>Потреб расходы</td>
            <td>Индексы потреб</td>
            <td>Числен насел</td>
        </tr>
        <tr th:each="item: ${listDataResult}">
            <td th:text="${item.getRate()}">Рейтинг</td>
            <td th:text="${item.getRegion()}">Регион</td>
            <td th:text="${item.getMinPriceContract()}">Минимальная</td>
            <td th:text="${item.getBudgetCount()}">Количество бюджет</td>
            <td th:text="${item.getContractCount()}">Количество контр. мест</td>
            <td th:text="${item.getLevelEducation()}">Общий уровень развития</td>
            <td th:text="${item.getLevelLive()}">Общий уровень жизни</td>
            <td th:text="${item.getMonthSalary()}">Среднедуш</td>
            <td th:text="${item.getMonthExpense()}">Потреб расходы</td>
            <td th:text="${item.getIndexPrice()}">Индексы потреб</td>
            <td th:text="${item.getCountPeopleMinSalary()}">Числен насел</td>
        </tr>
    </table>
</div>

<div th:if="${typeTable == 'PROPOSED_SALARY'}">
    <table>
        <tr>
            <td>Рейтинг</td>
            <td>Регион</td>

            <td>Средння зп в регионе</td>
            <td>Средння зп в стол</td>

            <td>Количество вакансий</td>
            <td>Темп прироста кол вакансий</td>

            <td>Количество вакансий в стол</td>
            <td>Темп прироста кол вакансий в стол</td>

            <td>Состояние рынка труда</td>
            <td>Состояние рынка труда в стол</td>

            <td>Общие уровень жизни </td>
            <td>Среднедуш доходы</td>
            <td>Среднедуш расходы</td>
            <td>Инд потреб цен</td>
            <td>Числ насел с ниже прож минимуму</td>
        </tr>
        <tr th:each="item: ${listDataResult2}">
            <td th:text="${item.getRate()}">Рейтинг</td>
            <td th:text="${item.getRegion()}">Регион</td>

            <td th:text="${item.getMiddleSalary()}">Минимальная</td>
            <td th:text="${item.getMiddleSalaryCapital()}">Количество бюджет</td>

            <td th:text="${item.getMiddleCountVacancy()}">Минимальная</td>
            <td th:text="${#numbers.formatDecimal(item.getMiddleCountVacancyInd(), 0, 2)}">Количество бюджет</td>

            <td th:text="${item.getMiddleCountVacancyCapital()}">Минимальная</td>
            <td th:text="${#numbers.formatDecimal(item.getMiddleCountVacancyIndCapital(), 0, 2)}">Количество бюджет</td>

            <td th:text="${item.getStatusLaborMarket()}">Общий уровень жизни</td>
            <td th:text="${item.getStatusLaborMarketCapital()}">Среднедуш</td>

            <td th:text="${item.getLevelLive()}">Числен насел</td>
            <td th:text="${item.getMonthSalary()}">Среднедуш</td>
            <td th:text="${item.getMonthExpense()}">Индексы потреб</td>
            <td th:text="${item.getIndexPrice()}">Числен насел</td>
            <td th:text="${item.getCountPeopleMinSalary()}">Числен насел</td>
        </tr>
    </table>
</div>
<div th:if="${typeTable == 'VACANCIES'}">
    <table>
        <tr>
            <td>Рейтинг</td>
            <td>Регион</td>

            <td>Средння зп в регионе</td>
            <td>Средння зп в стол</td>

            <td>Количество вакансий</td>
            <td>Темп прироста кол вакансий</td>

            <td>Количество вакансий в стол</td>
            <td>Темп прироста кол вакансий в стол</td>

            <td>Состояние рынка труда</td>
            <td>Состояние рынка труда в стол</td>

            <td>Общие уровень жизни </td>
            <td>Среднедуш доходы</td>
            <td>Среднедуш расходы</td>
            <td>Инд потреб цен</td>
            <td>Числ насел с ниже прож минимуму</td>
        </tr>
        <tr th:each="item: ${listDataResult2}">
            <td th:text="${item.getRate()}">Рейтинг</td>
            <td th:text="${item.getRegion()}">Регион</td>

            <td th:text="${item.getMiddleSalary()}">Минимальная</td>
            <td th:text="${item.getMiddleSalaryCapital()}">Количество бюджет</td>

            <td th:text="${item.getMiddleCountVacancy()}">Минимальная</td>
            <td th:text="${item.getMiddleCountVacancyInd()}">Количество бюджет</td>

            <td th:text="${item.getMiddleCountVacancyCapital()}">Минимальная</td>
            <td th:text="${item.getMiddleCountVacancyIndCapital()}">Количество бюджет</td>

            <td th:text="${item.getStatusLaborMarket()}">Общий уровень жизни</td>
            <td th:text="${item.getStatusLaborMarketCapital()}">Среднедуш</td>

            <td th:text="${item.getLevelLive()}">Числен насел</td>
            <td th:text="${item.getMonthSalary()}">Среднедуш</td>
            <td th:text="${item.getMonthExpense()}">Индексы потреб</td>
            <td th:text="${item.getIndexPrice()}">Числен насел</td>
            <td th:text="${item.getCountPeopleMinSalary()}">Числен насел</td>
        </tr>
    </table>
</div>
<div th:if="${typeTable == 'MIGRATION'}">

    <table>
        <tr>
            <td>Рейтинг региона по индексу цифровизации</td>
            <td>Регион</td>
            <td>Значение индекса цифровизации и региона</td>

            <td>Значение индекса цифровизации населения региона</td>
            <td>Значение индекса цифровизации бизнеса региона</td>
            <td>Индекс цифровых профессий</td>

            <td>Общий уровень развития образовательной среды</td>

            <td>Общий уровень жизни в регионе</td>
            <td>Среднедушевые денежные доходы населения (в месяц; рублей)</td>
            <td>Потребительские расходы в срднем на душу насления (в месяц; рублей)</td>
            <td>Индексы потребительских цен (декабрь к декабрю предыдущего года, в процентах)</td>
            <td>Численность населения с денежными доходами ниже величины прожиточного минимума/грацницы бедности (в процентах от общей численности населения субъекта)</td>
        </tr>
        <tr th:each="item: ${listDataResult3}">
            <td th:text="${item.getRate()}">Рейтинг</td>
            <td th:text="${item.getRegion()}">Регион</td>
            <td th:text="${item.getDiRegion()}"></td>

            <td th:text="${item.getDiPeople()}"></td>
            <td th:text="${item.getDiBusiness()}"></td>
            <td th:text="${item.getDiProfession()}"></td>

            <td th:text="${item.getLevelEducation()}"></td>

            <td th:text="${item.getLevelLive()}">Числен насел</td>
            <td th:text="${item.getMonthSalary()}">Среднедуш</td>
            <td th:text="${item.getMonthExpense()}">Индексы потреб</td>
            <td th:text="${item.getIndexPrice()}">Числен насел</td>
            <td th:text="${item.getCountPeopleMinSalary()}">Числен насел</td>
        </tr>
    </table>
</div>

<script src="http://localhost:8080/js/jquery3.7.1.js"></script>
<script src="http://localhost:8080/js/calculator.js"></script>
</body>
</html>

