<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
    <link href="http://localhost:8080/styles/css/calculator.css" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#purpose-calc').on('change', function (e) {
                var valueSelected = this.value;

                if (valueSelected == 'EDUCATION') {
                    $('#education-form').show()
                    $('#employee-form').hide()
                } else {
                    $('#education-form').hide()
                    $('#employee-form').show()
                }
            });
        })

    </script>

</head>
<header class="main-header" th:include="layouts/base_header.html">

</header>
<body>
<div class="wrapper">
    <p th:text="${huy}"></p>
    <select id="purpose-calc">
        <option th:each="purp : ${purpose}" th:value="${purp.name()}" th:text="${purp.getTitle()}"></option>
    </select>

    <div id="education-form">
        <form th:object="${educationRequest}" th:action="@{/ed-calculator}" method="get">
            <select th:field="*{educationLevel}" id="educationLevel">
                <option th:each="level : ${levelEducation}" th:value="${level}" th:text="${level.getDescription()}"></option>
            </select>

            <select th:field="*{priority}">
                <option th:each="prior : ${edPriority}" th:value="${prior}" th:text="${prior.getTitle()}"></option>
            </select>

            <select th:field="*{maxResult}">
                <option th:each="item : ${listMaxResults}" th:value="${item.getValue()}" th:text="${item.getDescription()}"></option>
            </select>

            <input type="submit" value="Поиск"/>
        </form>
    </div>

    <div id="employee-form">
        <form th:object="${employeeRequest}">

        </form>
    </div>

</div>
<table>
    <tr th:each="data: ${listDataResult}">
        <td th:text="${data.getBudgetCount()}"/>
    </tr>
</table>

<script src="http://localhost:8080/js/jquery3.7.1.js"></script>
<script src="http://localhost:8080/js/calculator.js"></script>
</body>
</html>

