<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О проекте</title>
    <link th:href="@{/styles/css/info_project.css}" rel="stylesheet" type="text/css"/>
</head>
<header class="base-header" th:include="layouts/base_header.html">

</header>
<body>

<div>
    <div class="first_image">
        <p>
            <img src="https://thumb.tildacdn.com/tild6132-3839-4536-b938-643733643932/-/resize/460x/-/format/webp/undraw_real_time_ana.png" width="460" height="377" alt="first_im" align="right" id="first_pic">
        </p>
    </div>
    <p class="text-page-content"> <b>Благополучие человека в цифровой среде - это первая российская цифровая платформа для научных исследований в области регионального развития</b></p>
    <p class="text-page-content">Исследователи - пользователи платформы - совместно создают ценность знаний о социально-экономическом пространстве за счет открытости данных, моделей и алгоритмов. Каждый удаленный исследователь формирует базу знаний о своей территории (муниципалитет, регион, федеральный округ, страна), наполняя цифровой двойник пространства. Модели и алгоритмы исследования отдельных территорий могут быть масштабированы на другие схожие территории или территории другого уровня.</p>
    <p class="text-page-content">Цифровизация пространственных социально-экономических систем (большие данные, цифровые двойники регионов и др.) позволяет получить глубокие знания о факторах роста и зонах качественных трансформаций, активизировать внутренние эффекты, повысить устойчивость и оперативную адаптацию региональной экономики к изменяющимся условиям внешней среды, обеспечить интенсивную трансформацию потенциала регионов.</p>
</div>

<div class="platform-users">
    <h2 class="name_block">Пользователи платформы</h2>

    <div class="user-names">
        <!--            <p class="title_user">Исследователи</p>-->
        <!--              <p class="user_descr">Ученые могут использовать данные, сервисы и иные материалы платформы для проведения исследований социально-экономического пространства, региональной и муниципальной экономики</p>-->
        <!--            <p class="title_user">Аналитики</p>-->
        <!--              <p class="user_descr">Руководителям бизнеса, маркетологам, аналитикам консалтинговых и рейтинговых агентств платформа предоставит готовые наборы данных, мониторинги, бюллетени и экспертные обзоры</p>-->

        <nav class="what_we_have_on_platform">
            <div class="border_sec full-withradius">
                <h1>Исследователи</h1>
                <p>Ученые могут использовать данные, сервисы и иные материалы платформы для проведения исследований социально-экономического пространства, региональной и муниципальной экономики</p>
            </div>

            <div class="border_sec full-withradius">
                <p>
                    <img src="https://thumb.tildacdn.com/tild6265-3630-4334-a362-376663343061/-/resize/432x/-/format/webp/undraw_Revenue_re_2b.png" width="283" height="289" alt="sec_im" align="right" id="sec_pic">
                </p>
            </div>

            <div class="border_sec full-withradius">
                <h1 >Аналитики</h1>
                <p>Руководителям бизнеса, маркетологам, аналитикам консалтинговых и рейтинговых агентств платформа предоставит готовые наборы данных, мониторинги, бюллетени и экспертные обзоры</p>
            </div>

            <div class="border_sec full-withradius">
                <p>
                    <img src="https://static.tildacdn.com/tild3864-3034-4131-b561-623435356461/undraw_Product_teard.png" width="348" height="241" alt="sec_im" align="right" id="third_pic">
                </p>
            </div>

            <div class="border_sec full-withradius">
                <h1>СМИ</h1>
                <p>Журналисты смогут найти на платформе готовые обзоры развития отраслей, регионов и муниципалитетов, экспертные комментарии трендов, актуальную статистику</p>
            </div>

            <div class="border_sec full-withradius">
                <p>
                    <img src="https://thumb.tildacdn.com/tild6237-6437-4531-b064-353331386333/-/resize/460x/-/format/webp/undraw_Folder_re_apf.png" width="354" height="249" alt="sec_im" align="right" id="four_pic">
                </p>
            </div>
        </nav>
    </div>
</div>

<h2 class="name_block">Что есть на платформе?</h2>

<nav class="what_we_have_on_platform">
    <div class="border full-withradius">
        <h1 class="name_title_block">Наборы актуальных данных</h1>
        <p>На платформе представлены данные о социально-экономическом развитии территорий различных уровней - национальная экономика, макрорегионы (федеральные округа) регионы (субъекты РФ), муниципальные образования</p>
    </div>

    <div class="border full-withradius">
        <h1 class="name_title_block">Модели и методики</h1>
        <p>На платформе размещены модели и методики исследования социально-экономического пространства, применяемые к различным территориальным уровням. Многие модели и методики можно масштабировать</p>
    </div>

    <div class="border full-withradius">
        <h1 class="name_title_block">Исследования</h1>
        <p>Описание результатов научных и аналитических исследований, проведенных с использованием данных и методик платформы. Пользователи могут добавить свои публикации, презентации, отчеты и препринты</p>
    </div>

    <div class="border full-withradius">
        <h1 class="name_title_block">Сообщество</h1>
        <p> На платформе исследователи могут найти информацию о конференциях, связанных с региональной экономикой и пространственным развитием, пригласить других исследователей к себе в проект, разместить новость</p>
    </div>

    <div class="border full-withradius">
        <h1 class="name_title_block">Цифровые двойники</h1>
        <p>Цифровой двойник территорий представляют собой социально-экономическую модель для проведения сценарных экспериментов, обоснования эффектов государственной политики</p>
    </div>

    <div class="border full-withradius">
        <h1 class="name_title_block">Готовая аналитика</h1>
        <p>На платформе исследователи могут найти информацию о конференциях, связанных с региональной экономикой и пространственным развитием, пригласить других исследователей к себе в проект, разместить новость</p>
    </div>

</nav>
</body>

<footer class="main-footer" th:include="layouts/base_footer.html">

</footer>

</html>

