<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
    <link href="http://localhost:8080/styles/css/questionnaire.css" rel="stylesheet" type="text/css">
</head>

<header class="main-header" th:include="layouts/base_header.html">

</header>

<body>

<div class="wrapper">
    <form class="user_portrait">
        <div>
            <h1 class="name_of_page">Калькулятор цифровой привлекательности регионов России</h1>
            <p class="description">Заполните форму для получения результата:</p>
            <div class="block-name">
                <label> <b>Возраст:</b></label><br>
                <input type="radio" id="under_18" value="under-18" name="user_age"><label for="under_18" class="light"> < 18 </label><br>
                <input type="radio" id="between_19_30" value="between_19_30" name="user_age"><label for="between_19_30" class="light">19 - 30 лет</label><br>
                <input type="radio" id="between_31_45" value="between_31_45" name="user_age"><label for="between_31_45" class="light">31- 45 лет</label><br>
                <input type="radio" id="between_46_60" value="between_46_60" name="user_age"><label for="between_46_60" class="light"></label>46 - 60 лет<br>
                <input type="radio" id="over_61" value="over_61" name="user_age"><label for="over_61" class="light"></label> > 61 года <br>
            </div>

            <div class="block-name">
                <label><b>Пол:</b></label><br>
                <input type="radio" id="male" value="male" name="user_sex"><label for="male" class="light"> Мужской </label><br>
                <input type="radio" id="female" value="female" name="user_sex"><label for="female" class="light"> Женский </label><br>
            </div>

            <div class="block-name">
                <label class="region_title">Регион:</label><br>
                <select name="Region" class="styled-select">
                    <option value=" " >Пожалуйста выберите регион</option>
                    <option value="#">Свердловская область</option>
                    <option value="#">Алтайский край</option>
                    <option value="#">Амурская область</option>
                    <option value="#">Архангельская область</option>
                    <option value="#">Астраханская область</option>
                    <option value="#">Белгородская область</option>
                    <option value="#">Брянская область</option>
                    <option value="#">Владимирская область</option>
                    <option value="#">Вологодская область</option>
                    <option value="#">Воронежская область</option>
                    <option value="#">Иркутская область</option>
                    <option value="#">Калининградская область</option>
                </select><br>
            </div>

            <div class="container1">
                <div class="user_education">
                    <label>Образование:</label><br>
                    <input type="radio" id="school" value="school" name="user_education"><label for="school" class="light"> Школа </label><br>
                    <input type="radio" id="bachelor" value="bachelor" name="user_education"><label for="bachelor" class="light"> Бакалавриат </label><br>
                    <input type="radio" id="specialty" value="specialty" name="user_education"><label for="specialty" class="light"> Специалитет </label><br>
                    <input type="radio" id="magistracy" value="magistracy" name="user_education"><label for="magistracy" class="light"> Магистратура </label><br>
                </div>

                <div hidden class="user_field_education">
                    <label>Сфера образования:</label><br>
                    <input type="radio" id="it" value="it" name="user_field_education"><label for="it" class="light"> Сфера IT </label><br>
                    <input type="radio" id="other" value="other" name="user_field_education"><label for="other" class="light"> Иная фера </label><br>
                </div>
            </div>

            <div class="container2">
                <div class="user_busyness">
                    <label>Занятость:</label><br>
                    <input type="radio" id="study" value="study" name="user_busyness"><label for="study" class="light"> Учёба </label><br>
                    <input type="radio" id="work_for_hire" value="work_for_hire" name="user_busyness"><label for="work_for_hire" class="light"> Работа по найму </label><br>
                    <input type="radio" id="businessman" value="businessman" name="user_busyness"><label for="businessman" class="light"> Предприниматель </label><br>
                    <input type="radio" id="freelancer" value="freelancer" name="user_busyness"><label for="freelancer" class="light"> Фрилансер </label><br>
                    <input type="radio" id="retiree" value="retiree" name="user_busyness"><label for="retiree" class="light"> Пенсионер </label><br>
                </div>

                <div hidden class="user_field_busyness">
                    <label>Сфера Занятости:</label><br>
                    <input type="radio" id="it" value="it" name="user_field_busyness"><label for="it" class="light"> Сфера IT </label><br>
                    <input type="radio" id="other" value="other" name="user_field_busyness"><label for="other" class="light"> Иная фера </label><br>
                </div>
            </div>

            <div class="get-result">
                <button class="button button-click">
                    <a href="/calculator">Получить результат</a>
                </button>
            </div>
        </div>
    </form>
</div>

<script src="http://localhost:8080/js/jquery3.7.1.js"></script>
<script src="http://localhost:8080/js/calculator.js"></script>
</body>

<footer class="main-footer" th:include="layouts/base_footer.html">

</footer>

</html>

