<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Сервисы</title>
  <link href="http://localhost:8080/styles/css/service.css" rel="stylesheet">
  <header class="main-header" th:include="layouts/base_header.html">
  </header>
</head>
<body>

<div class="community-page-wrapper">
  <div class="community-grid">
    <div class="content">
      <img src="https://img.freepik.com/free-vector/calculator-concept-illustration_114360-1194.jpg?w=740&t=st=1705135470~exp=1705136070~hmac=bd71c80c03522e6c0d983f4975829aecdcf6adaba898fde487f46febad0e3fc3" width="304" height="304" alt="first_im" align="right" id="first_pic" class="first_picture">
      <a>
        <a href="/questionnaire">Калькулятор</a>
        <div class="grid-overlay"></div>
      </a>
    </div>
  </div>
</div>
<footer class="main-footer" th:include="layouts/base_footer.html"></footer>
</body>
</html>