<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Сервисы</title>
  <link th:href="@{/styles/css/service.css}" rel="stylesheet" type="text/css"/>
</head>
<header class="main-header" th:include="layouts/base_header.html">

</header>
<body>
  <div class="community-page-wrapper">
    <h1>Сервисы</h1>

    <div class="community-grid">
      <a>
        <a href="/check-questionnaire">Калькулятор</a>
        <div class="grid-overlay"></div>
      </a>
    </div>
  </div>
</body>
</html>

