<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add CSS and JS to Thymeleaf</title>
    <link href="http://localhost:8080/styles/css/base_footer_layout.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>СВЯЗАТЬСЯ С НАМИ</h4>
                <ul>
                    <li><a href="">kseniaagolubr@gmail.com</a></li>
                    <li><a href="">v.a.akberdina@gmail.com</a></li>
                    <li><a href="">m.vlasov@gmail.com</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>ДОКУМЕНТЫ</h4>
                <ul>
                    <li><a href="">Обработка персональных данных</a></li>
                    <li><a href="">Соглашение с пользователями</a></li>
                    <li><a href="">Правила использования информации</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>ПОМОЩЬ</h4>
                <ul>
                    <li><a href="">Задать вопрос: regsciencegrid@uiec.ru</a></li>
                    <li><a href="">Техподдержка: support-rgs@uiec.ru</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>

</html>
