<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add CSS and JS to Thymeleaf</title>
  <link href="http://localhost:8080/styles/css/base_header_layout.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header class="header">
  <div class="container">
    <div class="menu">
      <nav class="menu">
        <ul>
          <li><a href="/info_project">О ПРОЕКТЕ</a></li>
          <li><a href="/data">ДАННЫЕ</a>
            <ul class="dropdown">
              <li><a href="/data_base">БАЗА ДАННЫХ</a></li>
            </ul>
          </li>
          <li><a href="/service">СЕРВИСЫ</a>
            <ul class="dropdown">
              <li><a href="/questionnaire">КАЛЬКУЛЯТОР</a></li>
            </ul>
          </li>
          <li><a href="/researches">ИССЛЕДОВАНИЯ</a></li>
          <li><a href="/analytics">АНАЛИТИКА</a></li>
          <li><a href="/news">НОВОСТИ</a></li>
          <li><a href="/events">МЕРОПРИЯТИЯ</a></li>
          <li><a href="/account">ЛИЧНЫЙ КАБИНЕТ</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
</body>
</html>